@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
*::selection{
    background-color: #acaaaa;
    opacity: .7;
}
html, body{
    width: 100%;
}
#minicircle{
    width: 13px;
    height: 13px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-50% , -50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    pointer-events: none;
}
@media   screen and (max-width:1065px) {
    #minicircle{
        display: none;
    }
}

.bounding{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}
#main{
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem  1rem;

}
#nav a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    cursor: pointer;
}
.menubar{
    display: flex;
    align-items: center;

}
.plus{
    margin-left: 0.5em;
    font-size:1.5rem;
}
#heading{
    margin-top: 90px;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
#heading h1{
    margin-left: 30px;
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 1;
    opacity: .6;
}

#heading #secondh1{
    margin-left: 30vw;
}
.blocktext{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.blocktext h5{
    font-size: 15px;
    text-align: right;
    text-transform: uppercase;
}
.sideinfo{
    margin-top: 100px;
    padding-right: 50px;
}
.sideinfo h5{
    text-align: right;
    text-transform: uppercase;
    margin-top: .5vw;
    font-size: 1vw;
}
@media   screen and (max-width:1065px) {
    .sideinfo{
        padding-right: 20px;
    }
    .sideinfo h5{
        font-size: 3vw;
    }
}
.herofooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center ;
    justify-content: space-between;
}
.herofooter a{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}
.iconset{
    display: flex;
    gap: 5px;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #8d8d8d;
    opacity: 0.6;
}
#second{
    color: #fff;
    padding-top: 200px;
    padding-right: 10vw;
    width: 100%;
    height: 100%;
    background-color: #000;
}
.elem{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
}
.elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;
}
.elemlast{
    border-bottom: 1px solid #888;
}
.elem img{
    position: absolute;
    z-index: 999;
    height: 140%;
    opacity: 0;
    transform: translate(-50%,-50%);
    pointer-events: none;
}


#about{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    color: white;
    padding: 10vw 5vw;
    padding-left: 40vw;
    width: 100%;
    background-color: black;

}
#about img{
    width: 200px;
}
#textabout{
    width: 25rem;
}
#textabout h5{
    text-transform: uppercase;
    opacity: .6;
}
#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}
#textabout a {
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 4rem;
    color: white;
    text-decoration: none;
    font-size: 12px;
}
@media   screen and (max-width:1065px) {
    #about{
        padding: 10vw 2vw;
        flex-direction: column;
        padding-left: 0;
        text-align: center;
        justify-content: center;
    }
    #textabout {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #textabout p{
        font-size: 12px;

    }
}

#subscribe{
    padding: 20px 30px;
    background-color: #000;
    color: #fff;
    padding-bottom: 7vw;

}
#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
}
#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}
#footer{
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 40px 30px;
}
#footerleft{
    display: flex;
    gap: 20px;
}
#footerright{
    display: flex;
    gap: 20px;
}
#footer a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
@media screen and (max-width:530px) {
    #footerright{
        flex-direction: column;
    }
    #footerleft{
        flex-direction: column;
    }
    #footer{
        align-items:flex-end;
        padding-top: 30px;
        padding-bottom: 10px;
    }
}